@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); */

:root {
  --background: #1b1d23;
  --highlight: #73ffdd;
  --secondary-text: #C5C6C7;
  --secondary-text-2: #c9ccd6;
  --secondary-background: #24262e;
  --neon-orange: #FD5F00;
  --contact-card-height: 19rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scroll-padding-top: 70px; */
}

body {
  font-family: 'Roboto-Mono', monospace;
  /* font-family: 'Work Sans', sans-serif; */
  background-color: var(--background);
  color: #fff;
  line-height: 1.6;  
}

a {
  cursor: pointer;
  text-decoration: none;
}

p.lead {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

p.lead span {
  color: var(--highlight);
  font-weight: 600;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--highlight);
  font-size: 0.9rem;
  background-color: var(--background);
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 50px;
  transition: 0.5s;
  z-index: 10;
}

.navbar.top {
  background: transparent;
}

.navbar nav li {
  /* color: var(--secondary-text); */
  margin-left: 1.7rem;
  list-style-type: upper-roman;
  list-style-position: inside;
}

.navbar nav a {
  color: var(--secondary-text);
}

.navbar nav a:hover {
  color: var(--highlight);
  transition: ease 0.5s;
}

.navbar nav ol {
  display: flex;
}

.navbar .btn {
  margin-left: 1.7rem;
}

/* Side Navbar */

.open-slide {
  position: fixed;
  top: 0;
  right: 2rem;
  transition: 0.5s;
  z-index: 11;
}

.open-slide .btn-open {
  font-size: 3rem;
  color: var(--highlight);
}

.side-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  color: var(--highlight);
  background-color: #0B0C10;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.2s;
  text-align: center;
}

.side-navbar a {
  padding: 0 2rem 2rem 2rem;
  color: var(--secondary-text);
  display: inline-block; 
  transition: 0.3s;
  font-size: 1.1rem;
}

.side-navbar ul {
  list-style-type: none;
}

.side-navbar a:hover {
  color: var(--highlight);
}

.side-navbar span {
  color: var(--highlight);
}

.side-navbar .btn-close {
  position: absolute;
  bottom: 2rem;
  right: 0;
  font-size: 3rem;
  color: var(--highlight);
}

/* Hero */

.hero {
  height: 100vh;
  max-width: 1080px;
  position: relative;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding-bottom: 5rem;
}

.hero .content h1 {
  color: var(--highlight);
  font-size: 2rem;
}

.hero .content h3 {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 1.5rem 0 2rem;
}

/* About me section */

.aboutme {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  max-width: 1080px;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Abilities */

.abilities-container {
  width: 100%;
  max-width: 1080px;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.abilities-container span {
  color: var(--highlight);
  font-weight: 600;
}

.experience-container {
  background-color: var(--secondary-background);
  border-radius: 6px;
  padding: 1.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.experience-container:hover {
  top: -0.5rem;
  box-shadow: 0 3px 6px var(--neon-orange), 0 3px 6px var(--neon-orange);
}
.experience-container i {
  font-size: 2rem;
  color: var(--highlight);
}

/* .progress {
  overflow: hidden;
  height: 1.5rem;
  background-color: darkviolet;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: var(--highlight);
} */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  list-style-type: upper-roman;
  list-style-position: inside;
}

.skills-grid li::marker {
  color: var(--highlight);
}

/* Projects */

.projects-container {
  width: 100%;
  max-width: 1080px;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-background);
  border-radius: 6px;
  padding: 1.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.project-card:hover {
  top: -0.5rem;
  box-shadow: 0 3px 6px var(--highlight), 0 3px 6px var(--highlight);
}

.project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--highlight);
}

.project-card a {
  color: var(--secondary-text);
}

.project-card a:hover {
  color: var(--highlight);
}

.project-card i.locked {
  color: var(--neon-orange);
}

.project-card h3 {
  padding: 2rem 0 1rem;
}

.project-card p {
  color: var(--secondary-text-2);
}

.project-card ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.project-card ul li {
  padding-right: 1rem;
}

.project-card footer {
  padding: 2rem 0 0;
  color: var(--secondary-text);
}

/* Contact */

.contact-container {
  width: 100%;
  max-width: 1080px;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-background);
  border-radius: 6px;
  padding: 1.5rem;
  width: 100%;
  max-width: calc(var(--contact-card-height) * 1.586);
  height: var(--contact-card-height);
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.contact-card:hover {
  top: -0.5rem;
  box-shadow: 0 3px 6px var(--neon-orange), 0 3px 6px var(--neon-orange);
}

.contact-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
  color: var(--highlight);
}

.contact-top :first-child {
  margin-right: auto;
}

.contact-top :nth-child(2) {
  margin-right: 1rem;
}

.contact-card h3 {
  padding: 2rem 0 1rem;
}

.contact-card p {
  color: var(--secondary-text-2);
}

.contact-card a {
  color: var(--secondary-text-2);
}

.contact-card a:hover {
  color: var(--highlight);
}

.project-card footer {
  padding: 2rem 0 0;
  color: var(--secondary-text);
}

.contact-card ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.contact-card ul li {
  padding-right: 1rem;
}

.contact-card footer {
  padding: 2rem 0 0;
  color: var(--secondary-text);
}

/* Media Queries */

@media (min-width: 601px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .navbar nav {
    display: none;
  }
  
  .hero {
    max-width: 768px;
  }

  .aboutme {
    max-width: 768px;
  }

  .abilities-container {
    max-width: 768px;
  }

  .projects-container {
    max-width: 768px;
  }

  .flex-row {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .side-navbar a {
    display: none;
  }
  .open-slide {
    display: none;
  }
  .hero .content h1 {
    font-size: 4rem;
  }

  .hero .content h2 {
    font-size: 2rem;
  }
  
  .hero .content h3 {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0 0 2rem;
  }
}

@media (max-width: 1024px) {
  .hero {
    max-width: 1024px;
  }

  .aboutme {
    max-width: 1024px;
  }

  .abilities-container {
    max-width: 1024px;
  }

  .projects-container {
    max-width: 1024px;
  }
}